@model Web_Music.Models.NguoiDung

<h2>@Model.TenDangNhap</h2>

<div>
    <h3>Email: @Model.Email</h3>
    <h3>MaNguoiDung: @Model.MaNguoiDung</h3>
    <h3>MatKhau: @Model.MatKhau</h3>
    <h3>VaiTro: @Model.VaiTro</h3>

 
</div>

<a asp-action="Index">Back to List</a> 