@model IEnumerable<Web_Music.Models.CaSi>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    body {
        font-family: Arial, sans-serif;
    }

    table {
        width: 100%;
        border-collapse: collapse; /* Đảm bảo các ô bảng không có khoảng cách */
        margin-top: 20px;
    }

    th, td {
        padding: 12px;
        text-align: left;
        border: 1px solid #ddd; /* Viền cho bảng */
    }

    th {
        background-color: #f4f4f4;
        font-weight: bold;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9; /* Màu nền cho các hàng chẵn */
    }

    tr:hover {
        background-color: #f1f1f1; /* Màu nền khi hover */
    }

    a {
        color: #007bff;
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }
</style>

<h1>Ca sĩ</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenCaSi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnhDaiDien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TieuSu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenCaSi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnhDaiDien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TieuSu)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaCaSi">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaCaSi">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaCaSi">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
