@model Web_Music.Models.BaiHat


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    body {
        font-family: Arial, sans-serif;
    }

    table {
        width: 100%;
        border-collapse: collapse; /* Đảm bảo các ô bảng không có khoảng cách */
        margin-top: 20px;
    }

    th, td {
        padding: 12px;
        text-align: left;
        border: 1px solid #ddd; /* Viền cho bảng */
    }

    th {
        background-color: #f4f4f4;
        font-weight: bold;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9; /* Màu nền cho các hàng chẵn */
    }

    tr:hover {
        background-color: #f1f1f1; /* Màu nền khi hover */
    }

    a {
        color: #007bff;
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }
</style>
<h1>Details</h1>

<div>
    <h4>BaiHat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenBaiHat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenBaiHat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DuongDanFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DuongDanFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnhBia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnhBia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LuotNghe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LuotNghe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayThem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayThem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaAlbumNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaAlbumNavigation.MaAlbum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaCaSiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaCaSiNavigation.MaCaSi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaTheLoaiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaTheLoaiNavigation.MaTheLoai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaBaiHat">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
