@model Web_Music.Models.Album

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    body {
        font-family: Arial, sans-serif;
    }

    table {
        width: 100%;
        border-collapse: collapse; /* Đảm bảo các ô bảng không có khoảng cách */
        margin-top: 20px;
    }

    th, td {
        padding: 12px;
        text-align: left;
        border: 1px solid #ddd; /* Viền cho bảng */
    }

    th {
        background-color: #f4f4f4;
        font-weight: bold;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9; /* Màu nền cho các hàng chẵn */
    }

    tr:hover {
        background-color: #f1f1f1; /* Màu nền khi hover */
    }

    a {
        color: #007bff;
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }
</style>

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Album</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenAlbum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenAlbum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnhBia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnhBia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayPhatHanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayPhatHanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaCaSiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaCaSiNavigation.MaCaSi)
        </dd>
    </dl>

    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="MaAlbum" value="@Model.MaAlbum" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
